<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{User/base::layout(~{::div})}">
<head>
<meta charset="UTF-8" />
<title>Settings</title>
</head>
<body>
	<div class="container">
		<div class="card profile-card col-md-8 offset-md-2">
			<div class="card-body text-center">
				<div class="container">
					<h1>Change Password</h1>
				</div>
				<!-- Start of Display Message -->
				<div th:if="${message}" class="alert alert-[[${message.type}]]"
					role="alert">
					<div th:text="${message.content}"></div>
				</div>
				<!-- End of Display Message -->
				<form th:action="@{/user/change-password}" action="#" method="post">
					<div class="form-group">
						<input type="password" name="oldPassword"
							class="form-control mb-2" id="password"
							aria-describedby="emailHelp"
							placeholder="Enter your old password"> <input
							type="password" name="newPassword" class="form-control mb-2"
							id="password" aria-describedby="emailHelp"
							placeholder="Enter your new password"> <input
							type="password" name="newPassword2" class="form-control mb-2"
							id="password" aria-describedby="emailHelp"
							placeholder="Enter your new password again">
					</div>
					<button type="submit" class="btn-add-contact">Change
						Password</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>