<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{User/base::layout(~{::div})}">
<head>
<meta charset="UTF-8" />
<title th:text="${title}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
</style>
</head>
<body>
	<div class="container">
		<div class="card profile-card col-md-8 offset-md-2">
			<div class="card-body text-center">
				<div class="container">
					<img class="profile-img" src=""
						th:src="@{'/images/' + ${user.imageUrl}}" alt="profilePhoto" />
				</div>
				<h1>
					<span th:text="${user.name}"></span>
				</h1>
				<table class="table mt-4">
					<thead class="thead-light">
						<tr>
							<th style="text-align: center;" scope="col">User ID</th>
							<th style="text-align: center;" scope="col">Name</th>
							<th style="text-align: center;" scope="col">Email</th>
							<th style="text-align: center;" scope="col">Role</th>
							<th style="text-align: center;" scope="col">Active</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th style="text-align: center;" scope="row" th:text="${user.id}"></th>
							<td style="text-align: center;" th:text="${user.name}"></td>
							<td style="text-align: center;" th:text="${user.email}"></td>
							<td style="text-align: center;" th:text="${user.role}"></td>
							<td style="text-align: center; text-transform: uppercase; color: white; background-color: green;" th:text="${user.enabled}"></td>
						</tr>
					</tbody>
				</table>
				<div class="description">
					<h5>Description</h5>
					<span th:utext="${user.about}"></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
