<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<title>About - Smart Contact Manager</title>
</head>
<body>
	<section class="mt-5">
		<div class="container">
			<div class="row">
				<div class="col-md-5 mx-auto">
					<div id="first">
						<div class="myform form ">
							<div class="logo mb-3">
								<div class="col-md-12 text-center">
									<h1>Login</h1>
								</div>
								<div th:if="${agreement}" class="alert alert-danger">
									<div th:text=${agreement}></div>
								</div>
								<div th:if="${logout}" class="alert alert-success">
									<div th:text=${logout}></div>
								</div>
								<div th:if="${missingField}" class="alert alert-danger">
									<div th:text=${missingField}></div>
								</div>
							</div>
							<form th:action="@{/login}" action="#" method="post">
								<div class="form-group">
									<label for="exampleInputEmail1">Email address</label> <input
										type="email" name="username" class="form-control" id="email"
										aria-describedby="emailHelp" placeholder="Enter email">
								</div>
								<div class="form-group">
									<label for="exampleInputEmail1">Password</label> <input
										type="password" name="password" id="password"
										class="form-control" aria-describedby="emailHelp"
										placeholder="Enter Password">
								</div>
								<div class="form-group">
									<p class="text-center">
										By signing up you accept our <a href="#">Terms Of Use</a>
									</p>
								</div>
								<div class="col-md-12 text-center ">
									<button type="submit"
										class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
								</div>
								<div class="col-md-12 ">
									<div class="login-or">
										<hr class="hr-or">
										<span class="span-or">or</span>
									</div>
								</div>
								<div class="form-group">
									<p class="text-center">
										Don't have account? <a href="/signup" id="signup">Sign up
											here</a>
									</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
